target/
Cargo.lock

# wasm
node_modules/
tests/capybara_test*

# ruby
tests/vendor
tests/lib/capybara-test

# python
venv/

# Compare codegen
compare-codegen/capybara-*.rs
compare-codegen/native-*.rs
expanded.rs
